
div(layout='column', style='height:600px', ng-cloak='')
  md-toolbar(md-scroll-shrink='', ng-if='true')
    .md-toolbar-tools
      h3
        span  this is something awesome
  md-content(flex='')
    ng-outlet